.product {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

.product p {
    margin: 0;
}

.product .info {
    text-align: right;
}

.product img {
    object-fit: cover;
}

.info * {
    display: block;
}

.info .title {
    font-weight: 500;
    font-size: 1.5em;
}