.top {
    display: flex;
}

.info {
    width: 100%;
    text-align: right;
}

.carousel {
    height: 400px;
    overflow: scroll;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
}

.carousel img {
    height: 100%;
}