.top {
    display: flex;
    flex-wrap: wrap;
}

.top > .title {
    display: none;
}

.title {
    font-size: 2em;
    font-weight: bolder;
}

.info {
    width: 300px;
    padding: 2em;
}

.info .price {
    font-size: 1.5em;
    font-weight: 200;
}

.price {

}

@media screen and (max-width:calc(900px)) {
    .top > .title {
        display: block;
    }

    .info > .title {
        display: none;
    }
}