.top {
    padding: 1em;

    margin: auto;
    margin-top: 2em;
    margin-bottom: -2em;
    max-width: 900px;
}

article {
    display: flex;
    flex-wrap: wrap;
}

article > .title {
    display: none;
}

.title {
    font-size: 2em;
    font-weight: bolder;
    margin: 0;
}

.info {
    width: 300px;
    padding: 2em;
}

.info .price {
    font-size: 1.5em;
    font-weight: 200;
}

.price {
    margin: 0;
}

span.discount {
    margin-bottom: 0.5em;
}

@media screen and (max-width:calc(900px)) {
    article > .title {
        display: block;
    }

    .info > .title {
        display: none;
    }
}